{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "always"],
    "no-console": "off",
    "comma-dangle": ["error", "always-multiline"],
    "linebreak-style": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": "off",
    "react/prefer-stateless-function": "off",
    "no-param-reassign": 0
  },
  "globals": {
    "fetch": false,
    "document": true
  }
}
