{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "plugin:chai-friendly/recommended"],
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "semi": ["error", "always"],
    "no-console": "off",
    "comma-dangle": ["error", "always-multiline"],
    "linebreak-style": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": "off",
    "react/prefer-stateless-function": "off",
    "no-param-reassign": 0,
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "globals": {
    "fetch": false,
    "document": true
  },
  "plugins": ["chai-friendly"]
}
