/* STYLES */

body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #555b5d;
  height: 100vh;
  background-color: #49d0f2;
}

.icon{
  filter: invert(1);
  height: 2em;
  width: 2em;
}

.icon.bigIcon{
  height: 3em;
  width: 3em;
}

.topLocationText {
  color : white;
}

.topIcon img {
  filter: invert(34%) sepia(11%) saturate(244%) hue-rotate(149deg) brightness(96%) contrast(88%);
}

.refresh img:hover{
  filter: invert(34%) sepia(11%) saturate(244%) hue-rotate(149deg) brightness(100%) contrast(58%);
}

.refresh img{
  filter: invert(34%) sepia(11%) saturate(244%) hue-rotate(149deg) brightness(96%) contrast(88%);
}

.topLocationText h1 {
  margin-bottom: 0.5em;
}



/* GRIDS */

/*Main Grid*/

.weather {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "ref . . ."
    ". top top ."
    ". top top ."
    ". main main ."
    ". main main ."
    ". main main ."
    ". main main ."
}

.refresh {
  grid-area: ref;
}

.main {
  grid-area: main;
}

/*Top row Grid*/

.topRow {
  grid-area: top;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid white;
  display: grid;
  grid-template-columns: 8fr 1fr 10fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". topIcon topLoc"
    "topTxt topTxt topTxt"
}

.topIcon {
  grid-area: topIcon;
  margin: auto;
}

.topLocationText {
  grid-area: topLoc;
}

.updatedTime {
  grid-area: topTxt;
  margin: auto;
}

/*Current weather grid*/

.currentWeather {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". . curIcon curDiv curDiv . ."
  ". humIcon humInfo . presIcon presInfo presInfo"
    
}

.currentIcon {
  grid-area: curIcon;
  margin: auto;
}

.currentDiv {
  font-size: 1.7em;
  font-weight: bold;
  grid-area: curDiv;
}

.currentDiv .currentTemp {
  font-size: 2em;
}

.currentDiv p {
  margin: 0.2em 0;
}

.humidityIcon {
  grid-area: humIcon;
  margin: auto;
}

.humidityInfo {
  grid-area: humInfo;
  font-size: 1.2em;
}

.pressureIcon {
  grid-area: presIcon;
  margin: auto;
  margin-left: -1em;
}

.pressureInfo {
  grid-area: presInfo;
  font-size: 1.2em;
  margin-left: -3em;
}

.value{
  font-size: 1.4em;;
  font-weight: bold;
}

/*Forecast grid*/

.forecast{
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr 4fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
}
